.cover-container{
    
}
.cover-label{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .cover-label p,b{
        line-height: 0.5;
        margin: 0;
        font-size: 7px;
        /* left: 2%; */
        /* top: 50%; */
        /* transform: translateY(-50%); */
    }
}